@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.App {
  height:710px;
  display:grid;
  grid-template-columns: 1fr 4fr;
  font-family: 'Quicksand',Arial, sans-serif;
  line-height: 1.3em;
  letter-spacing: 0.04em;
}
.side{
width:300px;
}
.main{
  overflow: scroll;
  overflow-x: hidden;
}

p{
  color: rgba(0, 0, 0, 0.7);
 font-weight: normal;
}


.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: rgba(0,0,0,.1);
  position: fixed;
  z-index: 1000!important;
  top: 0;
}


.carousel .slider-wrapper {
  margin-top: 30px!important;
}


/* Scroll Top */

.styles_scroll-to-top__2A70v {
  background-color: orange!important;
  right: 40px!important;
  bottom: 40px!important;
  position: fixed!important;
  z-index: 1000!important;
  cursor: pointer!important;
  border-radius: 7px!important;
  width: 40px!important;
  height: 40px!important;
  transition: opacity 1s ease-in-out!important;
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%)!important;
  border: none!important;
  outline: none!important;
}

/*//////////////// Media Query/////////////////*/


@media (max-width:992px){
  .App{
    height:100%;
    display: flex;
    flex-direction: column;
  }
  h2{
    font-weight: bold;
  }
  p{
    font-weight: bolder;
  }
  .main{
    margin-top: -40px;
    overflow-y: hidden;
  }
  .styles_scroll-to-top__2A70v {
    background-color: orange!important;
    right: 40px!important;
    bottom: 40px!important;
    position: fixed!important;
    z-index: 1000!important;
    cursor: pointer!important;
    border-radius: 7px!important;
    width: 40px!important;
    height: 40px!important;
    transition: opacity 1s ease-in-out!important;
    box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%)!important;
    border: none!important;
    outline: none!important;
  }
}

@media (max-width:769px){
  .App{
     display: flex;
    flex-direction: column;

  }
  .main{
    overflow: auto;
    overflow-x: hidden;
  }
  .styles_scroll-to-top__2A70v {
    background-color: orange!important;
    right: 40px!important;
    bottom: 40px!important;
    position: fixed!important;
    z-index: 1000!important;
    cursor: pointer!important;
    border-radius: 7px!important;
    width: 40px!important;
    height: 40px!important;
    transition: opacity 1s ease-in-out!important;
    box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%)!important;
    border: none!important;
    outline: none!important;
  }

}
